/* General */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tertiary-color);
}

/* TEST  */

/* ----------------------------------------------------------- */
/* //////////////////// Utility Components ////////////////////*/
/* ----------------------------------------------------------- */

:root {
  font-size: 62.5%;
  font-family: 'Playfair Display', serif;

  /* Tertiary color */
  --tertiary-color: #f7f7f7;

  /* Golden color / Main color */
  --gold-color: #bcaf87;

  /* White color */
  --white-color: #fff;

  /* Gray color */
  --gray-color: #333;

  /* Local Gray color */
  --local-gray-color: #272f3c;
}

/* ----------------------------------------------------------- */
/* //////////////////// Reusable Components ////////////////////*/
/* ----------------------------------------------------------- */

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.heading-primary {
  font-size: 4.4rem;
  font-weight: 400;
  letter-spacing: 1.2rem;
  color: var(--tertiary-color);
}

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 1.2rem;
  color: var(--gray-color);
}

.grid {
  display: grid;
}

.grid--center-v {
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.u-margin-bottom-large {
  margin-bottom: 10rem !important;
}

/* ----------------------------------------------------------- */
/* //////////////////// Navigation Components ////////////////////*/
/* ----------------------------------------------------------- */

#navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2.4rem;
  width: 100vw;
  position: fixed;
  z-index: 100;
}

.navigation__img--logo img {
  position: fixed;
  width: 8rem;
  height: 8rem;
}

.fa-utensils {
  font-size: 5rem;
  color: var(--tertiary-color);
}

.navigation__hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  cursor: pointer;
  background-color: var(--white-color);
  width: 5rem;
  height: 5rem;
  top: 2rem;
  right: 3rem;
  padding: 1rem;
  border-radius: 50%;
  z-index: 10;
}

.line {
  width: 100%;
  height: 0.3rem;
  background-color: var(--gray-color);
  border-radius: 0.2rem;
  transition: all 0.4s ease-in;
}

.line-1-clicked {
  transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
}

.line-2-clicked {
  opacity: 0;
}

.line-3-clicked {
  transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
}
.navigation__hamburger--links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(
    to right bottom,
    rgb(255, 255, 255, 0.8),
    rgb(247, 247, 247, 0.8)
  );
  height: 100vh;
  width: 50vw;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;
  animation: navigationAnimation 0.35s ease-in;
}

.hidden {
  display: none !important;
}

.navigation__hamburger--links li {
  font-size: 2rem;
  color: var(--tertiary-color);
}

.navigation__hamburger--links li a {
  position: relative;
  color: var(--gray-color);
}

.navigation__hamburger--links li a:link::after,
.navigation__hamburger--links li a:visited::after {
  position: absolute;
  content: '';
  background-color: var(--gold-color);
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: -1;
}

.navigation__hamburger--links li a:hover::after,
.navigation__hamburger--links li a:active::after {
  transform: scaleX(1);
  transform-origin: left;
}

@keyframes navigationAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

/* ----------------------------------------------------------- */
/* //////////////////// Hero Components ////////////////////*/
/* ----------------------------------------------------------- */

#header {
  display: flex;
  height: 100svh;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  padding: 1.2rem 2.4rem;
}

.hero__main--heading {
  animation: heroHeaderAnimation 5s;
}

.hero__main--span {
  animation: heroHeaderSpanAnimation 5s;
}

.hero__background--video--playing {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  width: 100vw;
  z-index: -10;
}

.hero__main-text--heading-primary {
  position: absolute;
  top: 50%;
  padding: 4rem 0 4rem 10rem;
}

.hero__main-text--heading-primary span {
  font-size: 2rem;
  font-weight: 400;
  color: var(--tertiary-color);
}

@keyframes heroHeaderAnimation {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@keyframes heroHeaderSpanAnimation {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

/* ----------------------------------------------------------- */
/* ////////////// Section Restaurant Components ///////////////*/
/* ----------------------------------------------------------- */

.section--restaurant {
  padding-top: 8rem;
  background-color: var(--tertiary-color);
  position: relative;
}

.section--restaurant-background {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bcaf872b;
  height: 100%;
  width: 50vw;
}

.restaurant--container {
  padding: 0 3.2rem 0 3.2rem;
}

.restaurant__content__img--box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant__content__img--box img {
  width: 70%;
  height: auto;
}

.restaurant__content__heading--box {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
}

.restaurant__content__heading--box__span--emotion {
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 1.2rem;
  color: var(--gold-color);
}

.restaurant__content__heading--box__span--location {
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 1.2rem;
  margin-bottom: 2rem;
  color: var(--gray-color);
}

.restaurant__content__heading--box__main--heading__animated {
  animation: headingBoxLocationAnimation 1s ease-in;
}

.restaurant__content__heading--box__span--emotion__animated {
  animation: headingBoxSpanAnimation 1s ease-in;
}
.restaurant__content__heading--box__span--location__animated {
  animation: headingBoxLocationAnimation 1s ease-in;
}

@keyframes headingBoxSpanAnimation {
  0% {
    opacity: 0;
    transform: translateX(4rem);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes headingBoxLocationAnimation {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.restaurant__content__text--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 4.8rem 0 4.8rem;
}

.restaurant__content__text--box--heading {
  color: var(--gold-color);
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.restaurant__content__text--box--text {
  color: var(--gray-color);
  font-size: 2rem;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.restaurant__content__img--box {
  align-items: center;
}

.restaurant__content--btn {
  margin-top: 3rem;
  position: relative;
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 1.2rem;
  color: var(--gold-color);
}

.restaurant__content--btn:link::after,
.restaurant__content--btn:visited::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.3rem;
  left: 0;
  top: 1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: var(--gray-color);
}

.restaurant__content--btn:hover::after,
.restaurant__content--btn:active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.3rem;
  left: 0;
  top: 1;
  transform: scaleX(1);
  transform-origin: left;
  background-color: var(--gray-color);
}

.restaurant__content--btn:link:before,
.restaurant__content--btn:visited:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.3rem;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: var(--gray-color);
}

.restaurant__content--btn:hover:before,
.restaurant__content--btn:active:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.3rem;
  left: 0;
  bottom: 0;
  transform: scaleX(1);
  transform-origin: right;
  background-color: var(--gray-color);
}

/* ----------------------------------------------------------- */
/* /////////////////// Section Menu Components ///////////////*/
/* ----------------------------------------------------------- */

.section-menu {
  padding-top: 8rem;
  background-color: var(--tertiary-color);
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3.2rem 0 3.2rem;
  position: relative;
  z-index: 1;
}

.menu__content__img--box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  top: 60%;
  left: 0;
  z-index: -2;
}

.menu__content__img--box img {
  width: 50%;
  height: auto;
  position: relative;
}

.menu__content--chef {
  position: absolute;
  left: 0;
  bottom: 0%;
}

.menu__content__text--box__main--heading--box {
  position: relative;
  margin-bottom: 3rem;
}

.menu__content__text--box__main--heading {
  text-align: center;
  font-size: 6.2rem;
}

.menu__content__text--box__main--heading--animation {
  animation: menuSectionMainHeadingAnimation 1s ease-in;
}

.menu__content__text--box__main--heading--box__span-left {
  content: '';
  position: absolute;
  width: 35%;
  left: 0;
  top: 50%;
  height: 0.1rem;
  background-color: var(--gold-color);
}

.menu__content__text--box__main--heading--box__span-right {
  content: '';
  position: absolute;
  width: 35%;
  right: 0;
  top: 50%;
  height: 0.1rem;
  background-color: var(--gold-color);
}

.menu__content__text__para--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.2rem 6.4rem 3.2rem 6.4rem;
  background-color: var(--tertiary-color);
}

.menu__content__text--para--text {
  color: var(--gray-color);
  font-size: 2rem;
  line-height: 1.7;
  margin-bottom: 2rem;
  width: 70%;
}

.menu__content--btn {
  margin-top: 3rem;
  position: relative;
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 1.2rem;
  color: var(--gold-color);
}

.menu__content--btn:link::after,
.menu__content--btn:visited::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.3rem;
  left: 0;
  top: 1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: var(--gray-color);
}

.menu__content--btn:hover::after,
.menu__content--btn:active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.3rem;
  left: 0;
  top: 1;
  transform: scaleX(1);
  transform-origin: left;
  background-color: var(--gray-color);
}

.menu__content--btn:link:before,
.menu__content--btn:visited:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.3rem;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: var(--gray-color);
}

.menu__content--btn:hover:before,
.menu__content--btn:active:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.3rem;
  left: 0;
  bottom: 0;
  transform: scaleX(1);
  transform-origin: right;
  background-color: var(--gray-color);
}

@keyframes menuSectionMainHeadingAnimation {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

/* ----------------------------------------------------------- */
/* /////////////////// Section Chef Components ///////////////*/
/* ----------------------------------------------------------- */

.chef-section {
  margin-top: 30rem;
  padding-top: 10rem;
  position: relative;
  padding-bottom: 10rem;
}

.chef-section--background-color {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bcaf872b;
  height: 100%;
  width: 50vw;
}

.chef-container {
  padding: 0 3.2rem 0 3.2rem;
  background-color: #f7f7f7af;
}

.menu__content__text--box__main--heading--box {
  position: relative;
  margin-bottom: 3rem;
}

.chef__content__text--box__main--heading {
  text-align: center;
}

.chef__content__text--box__main--heading--animation {
  animation: chefSectionMainHeadingAnimation 1s ease-in;
}

.chef__content__text--box__main--heading--box__span-left {
  content: '';
  position: absolute;
  width: 28%;
  left: 0;
  top: 50%;
  height: 0.1rem;
  background-color: var(--gold-color);
}

.chef__content__text--box__main--heading--box__span-right {
  content: '';
  position: absolute;
  width: 28%;
  right: 0;
  top: 50%;
  height: 0.1rem;
  background-color: var(--gold-color);
}

.chef-container__above__text--para--box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.chef-container__chef--box--text--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chef__content__above__text--para--text,
.chef__content__chef__text--para--text {
  color: var(--gray-color);
  font-size: 2rem;
  line-height: 1.7;
  margin-bottom: 2rem;
  width: 70%;
}

.chef-container__chef--box--img--box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chef-container__chef--box--img--box img {
  width: 70%;
  height: auto;
}

@keyframes chefSectionMainHeadingAnimation {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

/* ----------------------------------------------------------- */
/* ////////////// Section Restaurant Components ///////////////*/
/* ----------------------------------------------------------- */

.the-restaurant-section {
  padding-top: 8rem;
}

.the-restaurant-section--animation {
  animation: theRestaurantSectionAnimation 1s ease-in;
}

.restaurant-container {
  padding: 0 3.2rem 0 3.2rem;
}

.restaurant-container__content--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.2rem 6.4rem;
  background-color: var(--local-gray-color);
}

.restaurant-container__content__text--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.restaurant__content__text--box__main--heading {
  color: var(--gold-color);
  font-size: 6rem;
  margin-bottom: 6rem;
}

.restaurant__content__text--para--text {
  color: var(--tertiary-color);
  font-size: 1.6rem;
  line-height: 1.7;
  margin-bottom: 2rem;
  width: 70%;
}

.the-restaurant__content--btn {
  margin-top: 3rem;
  position: relative;
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 1.2rem;
  color: var(--gold-color);
}

.the-restaurant__content--btn:link::after,
.the-restaurant__content--btn:visited::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.3rem;
  left: 0;
  top: 1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: var(--tertiary-color);
}

.the-restaurant__content--btn:hover::after,
.the-restaurant__content--btn:active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.3rem;
  left: 0;
  top: 1;
  transform: scaleX(1);
  transform-origin: left;
  background-color: var(--tertiary-color);
}

.the-restaurant__content--btn:link:before,
.the-restaurant__content--btn:visited:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.3rem;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: var(--tertiary-color);
}

.the-restaurant__content--btn:hover:before,
.the-restaurant__content--btn:active:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.3rem;
  left: 0;
  bottom: 0;
  transform: scaleX(1);
  transform-origin: right;
  background-color: var(--tertiary-color);
}

@keyframes theRestaurantSectionAnimation {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

/* ----------------------------------------------------------- */
/* //////////// Section Restaurant IMG Components /////////////*/
/* ----------------------------------------------------------- */
.restaurant-img-section {
  margin-bottom: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -2;
}

.restaurant-img-section img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.restaurant-img-section--background-color {
  background-color: #f7f7f7af;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50vw;
  z-index: -1;
}

.restaurant-img-section-container__text--box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.restaurant-img__content__text--para--text {
  color: var(--gray-color);
  font-size: 2rem;
  line-height: 1.7;
  width: 40%;
}

/* ----------------------------------------------------------- */
/* //////////// Section Footer Components /////////////*/
/* ----------------------------------------------------------- */

.footer-section {
  padding: 8rem;
  background-color: var(--tertiary-color);
}

.footer-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3.2rem 0 3.2rem;
  position: relative;
}

.footer__section__span-top {
  content: '';
  position: absolute;
  top: -30%;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: var(--gray-color);
}

.footer__section__span-bottom {
  content: '';
  position: absolute;
  bottom: -30%;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: var(--gray-color);
}

.footer--section__content--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer--section__heading--box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer--section__content--box-para,
.footer--section__content--box-list li {
  color: var(--gray-color);
  font-size: 1.8rem;
  line-height: 1.7;
}

.footer--section__content--box-list li {
  cursor: pointer;
}

.footer--section__content--box-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
