/* General */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ----------------------------------------------------------- */
/* //////////////////// Utility Components ////////////////////*/
/* ----------------------------------------------------------- */

:root {
  font-size: 62.5%;
  font-family: 'Playfair Display', serif;

  /* Main color */
  --primary-color: #28b485;

  /* Secondary color */
  --secondary-color: #7ed56f;

  /* Tertiary color */
  --tertiary-color: #f7f7f7;

  /* Golden color */
  --gold-color: #bcaf87;

  /* White color */
  --white-color: #fff;

  /* Gray color */
  --gray-color: #333;
}

/* ----------------------------------------------------------- */
/* //////////////////// Reusable Components ////////////////////*/
/* ----------------------------------------------------------- */

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.heading-primary {
  font-size: 4.4rem;
  font-weight: 400;
  letter-spacing: 1.2rem;
  color: var(--tertiary-color);
}

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 1.2rem;
  color: var(--gray-color);
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

/* ----------------------------------------------------------- */
/* //////////////////// Navigation Components ////////////////////*/
/* ----------------------------------------------------------- */

#navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2.4rem;
  width: 100vw;
  position: fixed;
}

.navigation__img--logo img {
  position: fixed;
  width: 10rem;
  height: 10rem;
}

.fa-utensils {
  font-size: 5rem;
  color: var(--tertiary-color);
}

.navigation__hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  cursor: pointer;
  background-color: var(--white-color);
  width: 5rem;
  height: 5rem;
  top: 2rem;
  right: 3rem;
  padding: 1rem;
  border-radius: 50%;
  z-index: 10;
}

.line {
  width: 100%;
  height: 0.3rem;
  background-color: var(--gray-color);
  border-radius: 0.2rem;
  transition: all 0.4s ease-in;
}

.line-1-clicked {
  transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
}

.line-2-clicked {
  opacity: 0;
}

.line-3-clicked {
  transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
}
.navigation__hamburger--links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(
    to right bottom,
    rgb(255, 255, 255, 0.8),
    rgb(247, 247, 247, 0.8)
  );
  height: 100vh;
  width: 50vw;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  animation: navigationAnimation 0.35s ease-in;
}

.hidden {
  display: none !important;
}

.navigation__hamburger--links li {
  font-size: 2rem;
  color: var(--tertiary-color);
}

.navigation__hamburger--links li a {
  position: relative;
  color: var(--gray-color);
}

.navigation__hamburger--links li a:link::after,
.navigation__hamburger--links li a:visited::after {
  position: absolute;
  content: '';
  background-color: var(--gold-color);
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: -1;
}

.navigation__hamburger--links li a:hover::after,
.navigation__hamburger--links li a:active::after {
  transform: scaleX(1);
  transform-origin: left;
}

@keyframes navigationAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

/* ----------------------------------------------------------- */
/* //////////////////// Hero Components ////////////////////*/
/* ----------------------------------------------------------- */

#header {
  height: 100svh;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  padding: 1.2rem 2.4rem;
}

.hero__main--heading {
  animation: heroHeaderAnimation 1s ease-in;
}

.hero__main--span {
  animation: heroHeaderSpanAnimation 1.5s ease-in;
}

.hero__background--video--playing {
  position: absolute;
  height: auto;
  max-width: 100%;
  z-index: -10;
}

.hero__main-text--heading-primary {
  position: absolute;
  top: 50%;
  padding: 4rem 0 4rem 10rem;
}

.hero__main-text--heading-primary span {
  font-size: 2rem;
  font-weight: 400;
  color: var(--tertiary-color);
}

@keyframes heroHeaderAnimation {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 100;
    transform: translateX(0);
  }
}

@keyframes heroHeaderSpanAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

/* ----------------------------------------------------------- */
/* //////////////////// Section Restaurant Components ////////////////////*/
/* ----------------------------------------------------------- */

.section--restaurant {
  padding-top: 8rem;
  background-color: var(--tertiary-color);
}

.restaurant--container {
  padding: 0 3.2rem 0 3.2rem;
}

.restaurant__content__img--box img {
  width: 100%;
}

.restaurant__content__heading--box {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
}

.restaurant__content__heading--box__span--emotion {
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 1.2rem;
  color: var(--gold-color);
}

.restaurant__content__heading--box__span--location {
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 1.2rem;
  margin-bottom: 2rem;
  color: var(--gray-color);
}

.restaurant__content__text--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 4.8rem 0 4.8rem;
}

.restaurant__content__text--box--heading {
  color: var(--gold-color);
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.restaurant__content__text--box--text {
  color: var(--gray-color);
  font-size: 2rem;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.restaurant__content__img--box {
  align-items: center;
}

.restaurant__content--btn {
  margin-top: 3rem;
  position: relative;
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 1.2rem;
  color: var(--gold-color);
}

.restaurant__content--btn:link::after,
.restaurant__content--btn:visited::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.3rem;
  left: 0;
  top: 1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: var(--gray-color);
}

.restaurant__content--btn:hover::after,
.restaurant__content--btn:active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.3rem;
  left: 0;
  top: 1;
  transform: scaleX(1);
  transform-origin: left;
  background-color: var(--gray-color);
}

.restaurant__content--btn:link:before,
.restaurant__content--btn:visited:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.3rem;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: var(--gray-color);
}

.restaurant__content--btn:hover:before,
.restaurant__content--btn:active:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.3rem;
  left: 0;
  bottom: 0;
  transform: scaleX(1);
  transform-origin: right;
  background-color: var(--gray-color);
}
