@media screen and (min-width: 1510px) {
  body {
    width: 1510px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1500px) {
  .hero__main-text--heading-primary {
    position: absolute;
    top: 50%;
    padding: 4rem 0 4rem 10rem;
  }
}

@media screen and (max-width: 1410px) {
  /* .hero__main-text--heading-primary {
    margin-bottom: 15rem;
  } */
}

@media screen and (max-width: 1200px) {
  .hero__main-text--heading-primary {
    position: absolute;
    top: 40%;
    padding: 4rem 0 4rem 10rem;
  }
}

@media screen and (max-width: 1000px) {
  .hero__main--heading {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1.2rem;
    color: var(--tertiary-color);
  }
}

@media screen and (max-width: 800px) {
  .hero__main-text--heading-primary {
    position: absolute;
    top: 30%;
    padding: 4rem 0 4rem 10rem;
  }
  .hero__main--heading {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1.2rem;
    color: var(--tertiary-color);
  }
}

@media screen and (max-width: 750px) {
  .hero__main-text--heading-primary {
    position: absolute;
    top: 20%;
    padding: 4rem 0 4rem 10rem;
  }
}
